<div ng-controller="GroupsCtrl">
  <div class="jumbotron" ng-repeat="group in groups">
    <h3>
      {{group.to}}
      <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeGroup(group)"></span>
    </h3>
    <div class="row">
      <div class="col-sm-4" ng-repeat="car in group.cars">
        <div class="car">
          <h4>
            {{car.driver}} 
            <span class="badge">{{car.capacity}} spots ({{car.capacity - car.peeps.length}} left)</span>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeCar(group.to, car.driver)"></span>
          </h4>
          <div ng-hide="car.peeps.length">
            So lonely...（´＿｀）
          </div>
          <ul ng-repeat="peep in car.peeps">
            <li>{{peep.name}}</li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 unassigned" ng-show="group.unassigned.length">
        <h4>
          Unassigned
          <span class="badge">{{group.unassigned.length}}</span>
        </h4>
        <ul ng-repeat="unassigned in group.unassigned">
          <li>{{unassigned.name}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>