form .btn.btn-default, form .btn.btn-primary {
	width: 100%;
}

.panel-heading .glyphicon {
	float: right;
}

.container {
	width: 800px;
}

form .form-control {
	margin-bottom: 1em;
}

.container .jumbotron {
	border-radius: 0;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.75);
}

.jumbotron ul > li {
	list-style: none;
}