<!-- Modal -->
<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="GroupsCtrl">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Join a Group</h4>
      </div>
      <div class="modal-body">
      <form>
        <select class="form-control" ng-model="existingGroup.name">
          <option value="" disabled selected>Choose a Group...</option>
          <option ng-repeat="group in groups" value="{{group.to}}">{{group.to}}</option>
        </select>

        <select class="form-control" ng-model="existingGroup.driver">
          <option value="" disabled selected>Choose a Driver...</option>
          <option ng-repeat="car in groups.cars" value="{{car.driver}}">{{car.driver}}</option>
        </select>

        <input type="text" class="form-control" placeholder="Your Name" />

        <button type="submit" class="btn btn-primary">Join</button>
      </form>
      </div>
    </div>
  </div>
</div>