<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">LunchMeat</div>
    </div>

    <ul class="nav navbar-nav">
      <li>
        <a href="#" type="button" data-toggle="modal" data-target="#add-group">Add Group</a>
      </li>
      <li>
        <a href="#" type="button" data-toggle="modal" data-target="#join-group">Join Group</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Register</a></li>
    </ul>
  </div>
</nav>
